main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:10px;
    padding: 10px;
}

.preview-container{
    max-height: 87vh;
    width: calc(87vh * (620/877));
    overflow-y: scroll;
}

.chapters-container{
    min-width: 30vw;
}

#title1{
    width: 100%;
}

#content1{
    display: none;
}
